.tw-followCard {
  font-family: Arial, sans-serif;
  display: flex;
  color: #fff;
  font-size: .8rem;
  gap: 1rem;
  justify-content: space-between;
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followed-infoUserName {
    opacity: 0.6;
}   

.tw-followCard-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.tw-followCard-button{
    cursor: pointer;
    background: #fff;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    font-size: .8rem;
    border-radius: 20px;
}

.tw-followCard-button.is-following {
    cursor: pointer;
    background: #fff;
    border: 1px solid red;
    color: #000;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    font-size: .8rem;
    border-radius: 20px;
} 

.tw-followCard-button:hover {
    background-color: #09f;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following:hover {
    background-color: #ff0000;
    transition: .3s ease background-color;
}
